body {
   background-color: #E4E9FD;
   background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    color: white;
}

.box {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    color: black;
}

h1 {
    color: #6bc5d2;
}

h3 {
    font-size: 1.5rem;
    color: #dff0ea;
}

p {
    font-size: 1.2rem;
    color: #A683E3;
    text-align: center;
}

hr {
    width: 10%;
    border-style: dotted;
    border-width: 5%;
}

